/* CSS da Lista de Usuários para Pagamento */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 75px;
    background-image: url(./assets/background.jpg);
    /* background-image: linear-gradient( white, black) */
}

.header {
    background-color: #EC0000;
    width: 100%;
    height:64px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.title{
    margin-left: 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
}

.logo{
    width: 2em;
    height: 2em;
}

.alinhamento {
    display: flex;
    justify-content: center;
    padding: 19px;
}

.container {
    background-color: #EC0000;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.6rem;
    align-items: center;
    padding: 1.25rem;
    width: 700px;
    max-width: 700px;
    height: 200px;
    border-radius: 5px 0px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.54);
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thumbnail {
    border-radius: 50%;
    box-shadow: 3px 3px 6px white;
}

.infos p {
    font-size: 18px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
}

.userDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userDiv img {
    height:30px;
    width: 30px;
    margin-right: 15px;
}

.width {
    text-transform: uppercase;
    color: white !important;
    font-size: 1.25rem !important;
}

button {
    padding: 0.55rem 0.838rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: #EC0000;
    background-color: white;
    font-weight: bold;
    border-radius: 3px 0;
    cursor: pointer;
    border: none;
}

/* CSS dos Modals */

.abrirModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 'auto';
    bottom: 'auto';
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 290px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 0;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.54);

}

.texto-cabecalho-modal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #EC0000;
    color: #EC0000;
    padding: 10px;
    width: 95.4%;
    margin-top: 0%;
    align-content: center;
    font-weight: bold;
}

.texto-cabecalho-modal span {
    color: white;
    font-weight: bold;
}

.texto-corpo-modal p {
    color: #EC0000 !important;
    font-weight: bold;
}

.texto-cabecalho-modal button {
    background-color: white;
    color: #EC0000;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
}

.abrirModal select {
    width: 68%;
    height: 3.25rem;
    border-radius: 5px 0;
    background-color: white;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.abrirModalButton {
    width: 20%;
    margin-bottom: 10px;
}

.abrirModal p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    color: white;
}

.abrirModal button {
    margin-bottom: 20px;
    border: 1px solid #EC0000 !important;
}

.valorInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.valorInput p {
    margin: 0;
    color: #EC0000;
    font-weight: bold;
    margin-top: 2%;
}

.input {
    width: 66%;
    height: 3rem;
    border-radius: 5px 0;
    background-color: white;
    color: #EC0000;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Media Queries */

@media screen and (max-width: 768px){
    .container{
        max-width: 580px;
    }
}

@media screen and (max-width: 600px){
    .container{
        max-width: 501px;
    }

    .width {
        font-size: 14px !important;
    }

    .thumbnail {
        width: 110px;
    }

    .infos p {
        font-size: 15px;
    }
}


@media screen and (max-width: 415px){
    .container {
        max-width: 320px;
        height: 150px;
    }

    .content{
        justify-content: space-between;
    }

    .width {
        font-size: 12px !important;
    }

    .thumbnail {
        width: 90px;
    }

    .infos p {
        font-size: 12px;
    }

    button { 
        font-size: 12px;
        padding: 6px;
    }
}

/* @media screen and (max-width: 375px) and (min-width: 361px) {
    .thumbnail {
        width: 75px;
    }

    .infos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) and (min-width: 280px) {
    .thumbnail {
        width: 60px;
    }

    .infos p {
        font-size: 10px;
    }

    button {
        font-size: 10px;
    }
} */